@charset "UTF-8";
/* CSS Document */
a:link {
  color: white;
	background-color: indianred;
	padding: 10px 15px;
	margin: 5px 15px;
	border-radius:6px;
	
}

/* visited link */
a:visited {
  color: white;
	background-color: indianred;
	padding: 10px 15px;
	margin: 5px 15px;
}

/* mouse over link */
a:hover {
	background-color: white;
  color: maroon;
	
}

/* selected link */
a:active {
  color: #63372c;
}
body {
	background-color:cornsilk; 
	color:darkred; 
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	background-image:url("CreamBackground.jpg");
	max-width:1700px;
	margin-left: auto;
	margin-right: auto;
	
}
#title {
	font-size: 40px;
	text-align: center;
	font-weight:bold;
	
	
}
#header {
	background-color: darkred; 
	color:white; 
	font-size: 50px; 
	padding: 25px; 
	text-align: center;
	background-image:url("DarkredBackground.jpg");
}
#nav {
	background-color: maroon; 
	color: #e4dfda; 
	text-align: center; 
	padding: 15px;
	
	
}
#content {
	padding: 15px;
}
#footer {
	background-color: maroon;
	color: #e4dfda;
	text-align: center;
	padding: 15px;
}
.thirdcolumn {
	width: 32.3%;
	padding: 8px;
	float: left;
	transition: width 1s, height 1s, transform 1s;
}
.thirdcolumn:hover {
	box-shadow: 0px 0px 5px 3px darkred;
	transform:scale(1.025);
	background-color: rgba(110, 110, 110, 0.6);

	
	
	
  
}
	
